In [38]:
import pandas as pd
l1={'at1':[9,10,10,10,9],'at2':[10,10,10,10,10],'at3':[10,9,10,9,10],'at4':[10,10,9,10,10],'mid1':[15,15,14,15,15],'mid2':[15,15,15,15,15],'mid3':[14,14,15,15,15]}
p=pd.DataFrame(l1,["sub1","sub2","sub3","sub4","sub5"])
p

      at1  at2  at3  at4  mid1  mid2  mid3
sub1    9   10   10   10    15    15    14
sub2   10   10    9   10    15    15    14
sub3   10   10   10    9    14    15    15
sub4   10   10    9   10    15    15    15
sub5    9   10   10   10    15    15    15

In [40]:
d=p.rename({"sub1":'DSP',"sub2":"WT","sub3":"COA","sub4":"CD","sub5":"OR"},axis=0)
d

     at1  at2  at3  at4  mid1  mid2  mid3
DSP    9   10   10   10    15    15    14
WT    10   10    9   10    15    15    14
COA   10   10   10    9    14    15    15
CD    10   10    9   10    15    15    15
OR     9   10   10   10    15    15    15

In [41]:
d.index

Index(['DSP', 'WT', 'COA', 'CD', 'OR'], dtype='object')

In [42]:
d.columns

Index(['at1', 'at2', 'at3', 'at4', 'mid1', 'mid2', 'mid3'], dtype='object')

In [44]:
d.values

array([[ 9, 10, 10, 10, 15, 15, 14],
       [10, 10,  9, 10, 15, 15, 14],
       [10, 10, 10,  9, 14, 15, 15],
       [10, 10,  9, 10, 15, 15, 15],
       [ 9, 10, 10, 10, 15, 15, 15]])

In [64]:
d.size

42

In [61]:
d.shape

(6, 7)

In [60]:
d.loc["sub6"]=[10,9,10,10,15,14,15]
d

      at1  at2  at3  at4  mid1  mid2  mid3
DSP     9   10   10   10    15    15    14
WT     10   10    9   10    15    15    14
COA    10   10   10    9    14    15    15
CD     10   10    9   10    15    15    15
OR      9   10   10   10    15    15    15
sub6   10    9   10   10    15    14    15

In [59]:
d["DSP":"COA"]

     at1  at2  at3  at4  mid1  mid2  mid3
DSP    9   10   10   10    15    15    14
WT    10   10    9   10    15    15    14
COA   10   10   10    9    14    15    15

In [49]:
l={"Percentage":[600,590,592,578,580]}
RR200056=pd.DataFrame(l,index=["SSC","PUC1","PUC2","E1","E2"])
RR200056

      Percentage
SSC          600
PUC1         590
PUC2         592
E1           578
E2           580

In [56]:
import pandas as pd
p={'Degree/course':["SSC","PUC","Btech","Intern"],"Institute":["  ZPG High School","RGUKT","RGUKT","internpe"],"Year of Passing":[2020,2022,2026,2025],"Percentage":[100,98,98.6,96.3]}
eduback=pd.DataFrame(p,index=[1,2,3,4])
eduback

  Degree/course          Institute  Year of Passing  Percentage
1           SSC    ZPG High School             2020       100.0
2           PUC              RGUKT             2022        98.0
3         Btech              RGUKT             2026        98.6
4        Intern           internpe             2025        96.3

In [4]:
pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /home/apiiit123/.local/lib/python3.10/site-packages (2.2.1)
Requirement already satisfied: numpy<2,>=1.22.4 in /home/apiiit123/.local/lib/python3.10/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/apiiit123/.local/lib/python3.10/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/lib/python3/dist-packages (from pandas) (2022.1)
Requirement already satisfied: tzdata>=2022.7 in /home/apiiit123/.local/lib/python3.10/site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.