In [1]:
#Write a Python Program to create a file and write data into it.
f=open("new_file.txt","w+")
i=0
print("Enter 5 lines of code")
while i<5:
    data=input()
    f.write(data+'\n')
    i+=1
print("The Data you have entered into the file is:")
f.seek(0,0)
print(f.read())
f.close()

Enter 5 lines of code

 This is 1st line
 This is 2nd line
 This is 3rd line
 This is 4th line
 This is 5th line

The Data you have entered into the file is:
This is 1st line
This is 2nd line
This is 3rd line
This is 4th line
This is 5th line

In [2]:
#traversing a file & display the data
f=open("new_file.txt",'r')
for i in f:
    print(i)
f.close()

This is 1st line

This is 2nd line

This is 3rd line

This is 4th line

This is 5th line

In [3]:
#Write a Python Program to create a student file that contains the information like id,name,roll no.,branch,year,cgpa,address
#and read the data from the file.
f1=open("Student.txt",'w+')
f1.write("ID=R200260\n")
f1.write("Name= Bhuma Naga Pavan\n")
f1.write("Roll No.=45\n")
f1.write("Branch=CSE\n")
f1.write("Year=2nd\n")
f1.write("CGPA=8.8\n")
f1.write("Address=Proddatur\n")
f1.seek(0,0)
print(f1.read())

ID=R200260
Name= Bhuma Naga Pavan
Roll No.=45
Branch=CSE
Year=2nd
CGPA=8.8
Address=Proddatur

In [7]:
#Write a python program to enter the following records into a file:
#Student Id,Name,Year,Branch
import pickle
f2=open("Student2.txt",'wb+')
id=input("ID=")
name=input("Name= ")
year=(input("Year= "))
branch=input("Branch= ")
l=[id,name,year,branch]
pickle.dump(l,f2)
f2.close()

ID= R200260
Name=  Bhuma Naga Pavan
Year=  2nd
Branch=  CSE

In [8]:
f2=open("Student2.txt",'rb')
pickle.load(f2)

['R200260', 'Bhuma Naga Pavan', '2nd', 'CSE']

In [1]:
import pandas as pd
EngAlph=pd.Series(['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z'])
EngAlph

0     a
1     b
2     c
3     d
4     e
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object

In [2]:
Vowels=pd.Series([0,0,0,0,0],['a','e','i','o','u'])
print(Vowels)
Vowels.empty

a    0
e    0
i    0
o    0
u    0
dtype: int64

False

In [4]:
Friends=pd.Series({"Nithin":41,"Tharun":38,"Balaji":39,"Govardhan":55,"Anirudh":48})
print(Friends)

Nithin       41
Tharun       38
Balaji       39
Govardhan    55
Anirudh      48
dtype: int64

In [5]:
MTseries=pd.Series()
MTseries

Series([], dtype: object)

In [6]:
if MTseries.empty:
    print("It is Empty")
else:
    print("It is not Empty")

It is Empty

In [7]:
import numpy as nd
m1=nd.array([1,31])
m2=nd.array([1,28])
m3=nd.array([1,31])
m4=nd.array([1,30])
m5=nd.array([1,31])
m6=nd.array([1,30])
m7=nd.array([1,31])
m8=nd.array([1,31])
m9=nd.array([1,30])
m10=nd.array([1,31])
m11=nd.array([1,30])
m12=nd.array([1,31])

In [8]:
MonthDays=pd.Series([m1,m2,m3,m4,m5,m6,m7,m8,m9,m10,m11,m12],[1,2,3,4,5,6,7,8,9,10,11,12])
MonthDays

1     [1, 31]
2     [1, 28]
3     [1, 31]
4     [1, 30]
5     [1, 31]
6     [1, 30]
7     [1, 31]
8     [1, 31]
9     [1, 30]
10    [1, 31]
11    [1, 30]
12    [1, 31]
dtype: object

In [9]:
Vowels['a':'u']=10
Vowels

a    10
e    10
i    10
o    10
u    10
dtype: int64

In [10]:
Vowels['a':'u']/=2
Vowels

a    5
e    5
i    5
o    5
u    5
dtype: int64

In [11]:
Vowels1=pd.Series([2,5,6,3,8],['a','e','i','o','u'])
Vowels1

a    2
e    5
i    6
o    3
u    8
dtype: int64

In [12]:
Vowels3=Vowels1+Vowels
Vowels3

a     7
e    10
i    11
o     8
u    13
dtype: int64

In [13]:
Vowels-Vowels1

a    3
e    0
i   -1
o    2
u   -3
dtype: int64

In [14]:
Vowels*Vowels1

a    10
e    25
i    30
o    15
u    40
dtype: int64

In [15]:
Vowels/Vowels1

a    2.500000
e    1.000000
i    0.833333
o    1.666667
u    0.625000
dtype: float64

In [16]:
index=['A','E','I','O','U']
Vowels1=pd.Series([2,5,6,3,8],index)
Vowels1

A    2
E    5
I    6
O    3
U    8
dtype: int64

In [17]:
EngAlph.size

26

In [18]:
EngAlph.ndim

1

In [19]:
EngAlph.values

array(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm',
       'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z'],
      dtype=object)

In [20]:
print(Vowels.ndim)
print(Vowels.size)
print(Vowels.values)

1
5
[5 5 5 5 5]

In [21]:
print(Friends.ndim)
print(Friends.size)
print(Friends.values)

1
5
[41 38 39 55 48]

In [22]:
print(MTseries.ndim)
print(MTseries.size)
print(MTseries.values)

1
0
[]

In [23]:
print(MonthDays.ndim)
print(MonthDays.size)
print(MonthDays.values)

1
12
[array([ 1, 31]) array([ 1, 28]) array([ 1, 31]) array([ 1, 30])
 array([ 1, 31]) array([ 1, 30]) array([ 1, 31]) array([ 1, 31])
 array([ 1, 30]) array([ 1, 31]) array([ 1, 30]) array([ 1, 31])]

In [24]:
SeriesEmpty=MTseries
SeriesEmpty

Series([], dtype: object)

In [25]:
MonthDays.index.name="monthno"
MonthDays

monthno
1     [1, 31]
2     [1, 28]
3     [1, 31]
4     [1, 30]
5     [1, 31]
6     [1, 30]
7     [1, 31]
8     [1, 31]
9     [1, 30]
10    [1, 31]
11    [1, 30]
12    [1, 31]
dtype: object

In [27]:
print(Friends[2])

39

C:\Users\Naga Pavan Bhuma\AppData\Local\Temp\ipykernel_13260\2366900987.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(Friends[2])

In [28]:
print(Friends[1])

38

C:\Users\Naga Pavan Bhuma\AppData\Local\Temp\ipykernel_13260\2598826356.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(Friends[1])

In [29]:
EngAlph[4:16]

4     e
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
dtype: object

In [30]:
EngAlph.head(10)

0    a
1    b
2    c
3    d
4    e
5    f
6    g
7    h
8    i
9    j
dtype: object

In [31]:
EngAlph.tail(10)

16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object

In [32]:
print(MTseries)

Series([], dtype: object)

In [33]:
MonthDays[2:7]

monthno
3    [1, 31]
4    [1, 30]
5    [1, 31]
6    [1, 30]
7    [1, 31]
dtype: object

In [36]:
MonthDays.iloc[::-1]

monthno
12    [1, 31]
11    [1, 30]
10    [1, 31]
9     [1, 30]
8     [1, 31]
7     [1, 31]
6     [1, 30]
5     [1, 31]
4     [1, 30]
3     [1, 31]
2     [1, 28]
1     [1, 31]
dtype: object

In [63]:
a1=nd.array([10,9,9,8,15,14,15])
a2=nd.array([9,8,10,10,13,14,15])
a3=nd.array([10,8,10,9,13,15,14])
a4=nd.array([9,8,9,10,15,14,14])
a5=nd.array([10,9,10,10,15,15,14])
df1=pd.DataFrame([a1,a2,a3,a4,a5],columns=['AT1','AT2','AT3','AT4','MID1','MID2','MID3'])
print(df1)
df1=df1.rename({0:'Sub1',1:'Sub2',2:'Sub3',3:'Sub4',4:'Sub5'})
print(df1)
df1=df1.rename({'Sub1':'DSP','Sub2':'WT','Sub3':'CD','Sub4':'COA','Sub5':'OR'})
df1.loc['DSP']=[7,9,8,10,13,14,12]
df1['MID1']=[13,14,13,12,14]
print(df1)

   AT1  AT2  AT3  AT4  MID1  MID2  MID3
0   10    9    9    8    15    14    15
1    9    8   10   10    13    14    15
2   10    8   10    9    13    15    14
3    9    8    9   10    15    14    14
4   10    9   10   10    15    15    14
      AT1  AT2  AT3  AT4  MID1  MID2  MID3
Sub1   10    9    9    8    15    14    15
Sub2    9    8   10   10    13    14    15
Sub3   10    8   10    9    13    15    14
Sub4    9    8    9   10    15    14    14
Sub5   10    9   10   10    15    15    14
     AT1  AT2  AT3  AT4  MID1  MID2  MID3
DSP    7    9    8   10    13    14    12
WT     9    8   10   10    14    14    15
CD    10    8   10    9    13    15    14
COA    9    8    9   10    12    14    14
OR    10    9   10   10    14    15    14

In [38]:
l={"Percentage":[10.0,9.8,9.7,8.88,8.78]}
RR200260=pd.DataFrame(l,index=["SSC","PUC1","PUC2","E1","E2"])
RR200260

      Percentage
SSC        10.00
PUC1        9.80
PUC2        9.70
E1          8.88
E2          8.78

In [35]:
p={'Degree/course':["SSC","PUC","Btech","Intern"],"Institute":[" Rayalaseema High School","RGUKT","RGUKT","Study Comrade"],"Year of Passing":[2020,2022,2026,2023],"Percentage":[100,98,97,88]}
eduback=pd.DataFrame(p,index=[1,2,3,4])
eduback

  Degree/course                 Institute  Year of Passing  Percentage
1           SSC   Rayalaseema High School             2020         100
2           PUC                     RGUKT             2022          98
3         Btech                     RGUKT             2026          97
4        Intern             Study Comrade             2023          88