In [1]:
import pandas as pd

In [2]:
f=pd.read_csv("Sample_Marks")
f

  sub\exam  at1  at2  at3  at4  mid1  mid2  mid3
0      DSP    9   10   10   10    15    15    14
1       WT   10   10    9   10    15    15    14
2      COA   10   10   10    9    14    15    15
3       CD   10   10    9   10    15    15    15
4       OR    9   10   10   10    15    15    15

In [5]:
g=pd.read_csv("imdb_data.csv")
g

      Rating                                               Name
0        8.8                                  Inception\n(2010)
1        8.7                                 The Matrix\n(1999)
2        9.0  The Lord of the Rings: The Return of the King\...
3        8.8      The Lord of the Rings: The Two Towers\n(2002)
4        8.5                               The Departed\n(2006)
...      ...                                                ...
3735     7.6              Anjaan: Special Crimes Unit\n(2018– )
3736     7.4  Krish Trish and Baltiboy: Face Your Fears\n(2017)
3737     7.4  Krish Trish and Baltiboy: Face Your Fears\n(2017)
3738     5.6                  The Great Sage Sun Wukong\n(2019)
3739     4.9             A Virgin Among the Living Dead\n(1973)

[3740 rows x 2 columns]

In [8]:
l1={'at1':[9,10,10,10,9],
    'at2':[10,10,10,10,10],
    'at3':[10,9,10,9,10],
    'at4':[10,10,9,10,10],
    'mid1':[15,15,14,15,15],
    'mid2':[15,15,15,15,15],
    'mid3':[14,14,15,15,15]}
p=pd.DataFrame(l1,["sub1","sub2","sub3","sub4","sub5"])
p

      at1  at2  at3  at4  mid1  mid2  mid3
sub1    9   10   10   10    15    15    14
sub2   10   10    9   10    15    15    14
sub3   10   10   10    9    14    15    15
sub4   10   10    9   10    15    15    15
sub5    9   10   10   10    15    15    15

In [7]:
d=p.rename({"sub1":'DSP',"sub2":"WT","sub3":"COA","sub4":"CD","sub5":"OR"},axis=0)
d

     at1  at2  at3  at4  mid1  mid2  mid3
DSP    9   10   10   10    15    15    14
WT    10   10    9   10    15    15    14
COA   10   10   10    9    14    15    15
CD    10   10    9   10    15    15    15
OR     9   10   10   10    15    15    15

In [9]:
d.index

Index(['DSP', 'WT', 'COA', 'CD', 'OR'], dtype='object')

In [10]:
d.columns

Index(['at1', 'at2', 'at3', 'at4', 'mid1', 'mid2', 'mid3'], dtype='object')

In [11]:
d.values

array([[ 9, 10, 10, 10, 15, 15, 14],
       [10, 10,  9, 10, 15, 15, 14],
       [10, 10, 10,  9, 14, 15, 15],
       [10, 10,  9, 10, 15, 15, 15],
       [ 9, 10, 10, 10, 15, 15, 15]], dtype=int64)

In [12]:
d.size

35

In [13]:
d.shape

(5, 7)

In [14]:
d.to_csv("Pavan.csv")

In [19]:
a=pd.read_excel("List.xlsx")

ImportError: Missing optional dependency 'openpyxl'.  Use pip or conda to install openpyxl.