In [1]:
import numpy as np
import pandas as pd

In [3]:
#arrays
a=np.array([10,20,30])
a1=np.array([40,50])
df=pd.DataFrame([a,a1])
print(df)

    0   1     2
0  10  20  30.0
1  40  50   NaN

In [8]:
a=np.array([10,20,30])
a1=np.array([40,50,60])
df=pd.DataFrame([a,a1],index=['a','b'],columns=['s1','s2','s3'])
print(df)
df2=pd.DataFrame(a)
print(df2)

   s1  s2  s3
a  10  20  30
b  40  50  60
    0
0  10
1  20
2  30

In [10]:
#set of dict
s=[{'a':10,'b':20},{'a':30,"c":40}]
df1=pd.DataFrame(s)
print(df1)

    a     b     c
0  10  20.0   NaN
1  30   NaN  40.0

In [20]:
#dict of set
d={'a':[1,2,3],'b':[4,5,9],'c':[6,7,8]}
df2=pd.DataFrame(d,["at1","at2","at3"])
print(df2)

     a  b  c
at1  1  4  6
at2  2  5  7
at3  3  9  8

In [23]:
#from series
s1=pd.Series([1,2,3],['a','b','c'])
s2=pd.Series([4,5,6],['a','b','c'])
s3=pd.Series([7,8,9],['a','b','c'])
df3=pd.DataFrame([s1,s2,s3])
print(df3)

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [24]:
#add new column
df3["d"]=[10,20,30]
print(df3)

   a  b  c   d
0  1  2  3  10
1  4  5  6  20
2  7  8  9  30

In [25]:
#add new row
df3.loc[3]=['a','b','c','d']
print(df3)

   a  b  c   d
0  1  2  3  10
1  4  5  6  20
2  7  8  9  30
3  a  b  c   d

In [35]:
# change name of column
df3.rename({"a":"s1"},axis=1)

     s1  b  c   d
zero  1  2  3  10
1     4  5  6  20
2     7  8  9  30
3     a  b  c   d

In [34]:
df3=df3.rename({0:'zero'},axis=0)
df3

     s1  b  c   d
zero  1  2  3  10
1     4  5  6  20
2     7  8  9  30
3     a  b  c   d

In [36]:
df3.head(2)

     s1  b  c   d
zero  1  2  3  10
1     4  5  6  20

In [37]:
df3.tail(2)

  s1  b  c   d
2  7  8  9  30
3  a  b  c   d

In [38]:
df3.index

Index(['zero', 1, 2, 3], dtype='object')

In [39]:
df3.values

array([[1, 2, 3, 10],
       [4, 5, 6, 20],
       [7, 8, 9, 30],
       ['a', 'b', 'c', 'd']], dtype=object)

In [40]:
df3.shape

(4, 4)

In [41]:
df3.size

16

In [42]:
df3.count()

s1    4
b     4
c     4
d     4
dtype: int64

In [44]:
df3['b']

zero    2
1       5
2       8
3       b
Name: b, dtype: object

In [47]:
df3[0:2]

     s1  b  c   d
zero  1  2  3  10
1     4  5  6  20

In [55]:
df3.loc[1]

s1     4
b      5
c      6
d     20
Name: 1, dtype: object

KeyError: 0