In [6]:
a=open("hi.txt","w")
print("enter the data:")
while(1):
    str=input("enter line:")
    a.writelines(str+"\n")
    n=int(input("Do you want to continue entering the data[1:YES 0:NO]:"))
    if(n==0):
        break
a.close()

enter the data:

enter line: hello world
Do you want to continue entering the data[1:YES 0:NO]: 1
enter line: how r u
Do you want to continue entering the data[1:YES 0:NO]: 1
enter line: good bye
Do you want to continue entering the data[1:YES 0:NO]: 0

In [7]:
b=open("hi.txt","r")
print(b.readlines())

['hello world\n', 'how r u\n', 'good bye\n']

In [8]:
a=open("student.txt","w")
id=input("enter the ID of the student:")
name=input("enter the name:")
rollnum=input("enter the roll number of the student:")
branch=input("enter the branch:")
year=input("enter the year of join:")
address=input("enter your address:")
a.writelines("ID:"+id+"\n")
a.writelines("NAME:"+name+"\n")
a.writelines("ROLL NO:"+rollnum+"\n")
a.writelines("BRANCH:"+branch+"\n")
a.writelines("YEAR OF JOIN:"+year+"\n")
a.writelines("ADDRESS:"+address+"\n")
a.close()
b=open("student.txt","r")
print(b.readlines())

enter the ID of the student: R200351
enter the name: RAKSHITHA
enter the roll number of the student: 25
enter the branch: CSE
enter the year of join: 2020
enter your address: DHARMAVARAM

['ID:R200351\n', 'NAME:RAKSHITHA\n', 'ROLL NO:25\n', 'BRANCH:CSE\n', 'YEAR OF JOIN:2020\n', 'ADDRESS:DHARMAVARAM\n']

In [9]:
import pickle as pc

In [5]:
a=open("file.bin","wb")
id=input("enter the ID of the student:")
name=input("enter the name:")
branch=input("enter the branch:")
year=input("enter the year of join:")
marks=input("enter the marks:")
dataobject=[id,name,branch,year,marks]
pc.dump(dataobject,a)
a.close()
b=open("file.bin","rb")
pc.load(b)

enter the ID of the student: R200351
enter the name: RAKSHITHA
enter the branch: CSE
enter the year of join: 2020
enter the marks: 90

['R200351', 'RAKSHITHA', 'CSE', '2020', '90']

In [2]:
import pandas as pd
import numpy as np
import calendar as cd

In [10]:
pip install pandas

Requirement already satisfied: pandas in ./notebookenv/lib/python3.8/site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in ./notebookenv/lib/python3.8/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in ./notebookenv/lib/python3.8/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.1 in ./notebookenv/lib/python3.8/site-packages (from pandas) (2024.1)
Requirement already satisfied: numpy>=1.20.3 in ./notebookenv/lib/python3.8/site-packages (from pandas) (1.24.4)
Requirement already satisfied: six>=1.5 in ./notebookenv/lib/python3.8/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 23.3.1 -> 24.0
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd
import numpy as np
import calendar as cd

In [25]:
list=[]
for i in range(97,123,1):
    list.append(chr(i))
EngAlph=pd.Series(list)
EngAlph

0     a
1     b
2     c
3     d
4     e
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object

In [15]:
a1=np.zeros([5],dtype=int)
Vowels=pd.Series(a1,index=["a","e","i","o","u"])
print(Vowels)
if(Vowels.empty):
    print("The series is empty")
else:
    print("The series is not empty")

a    0
e    0
i    0
o    0
u    0
dtype: int64
The series is not empty

In [4]:
Friends=pd.Series({"Rakshi":25,"Cherry":14,"Abhi":19,"Rajitha":13,"Manasa":36})
Friends

Rakshi     25
Cherry     14
Abhi       19
Rajitha    13
Manasa     36
dtype: int64

In [5]:
MTseries=pd.Series()
print(MTseries)

if(MTseries.empty):
    print("The series is empty")
else:
    print("The series is not empty")

Series([], dtype: object)
The series is empty

In [6]:
days=np.array([31,29,31,30,31,30,31,31,30,31,30,31])
MonthDays=pd.Series(days,index=[1,2,3,4,5,6,7,8,9,10,11,12])
MonthDays

1     31
2     29
3     31
4     30
5     31
6     30
7     31
8     31
9     30
10    31
11    30
12    31
dtype: int64

In [16]:
Vowels=Vowels+10
Vowels

a    10
e    10
i    10
o    10
u    10
dtype: int64

In [17]:
Vowels=Vowels/2
Vowels

a    5.0
e    5.0
i    5.0
o    5.0
u    5.0
dtype: float64

In [18]:
Vowels1=pd.Series([2,5,6,3,8],index=["a","e","i","o","u"])
Vowels1

a    2
e    5
i    6
o    3
u    8
dtype: int64

In [19]:
Vowels3=Vowels+Vowels1
Vowels3

a     7.0
e    10.0
i    11.0
o     8.0
u    13.0
dtype: float64

In [20]:
#Vowels-Vowels1
print(Vowels-Vowels1)

a    3.0
e    0.0
i   -1.0
o    2.0
u   -3.0
dtype: float64

In [21]:
Vowels/Vowels1

a    2.500000
e    1.000000
i    0.833333
o    1.666667
u    0.625000
dtype: float64

In [22]:
Vowels*Vowels1

a    10.0
e    25.0
i    30.0
o    15.0
u    40.0
dtype: float64

In [23]:
Vowels1.index=["A","E","I","O","U"]
Vowels1

A    2
E    5
I    6
O    3
U    8
dtype: int64

In [26]:
print("The dimensions of the Series EngAlph is 1D")
print("The size of the Series EngAlph is:",EngAlph.size)
print("The values of the Series EngAlph are:",EngAlph.values)

The dimensions of the Series EngAlph is 1D
The size of the Series EngAlph is: 26
The values of the Series EngAlph are: ['a' 'b' 'c' 'd' 'e' 'f' 'g' 'h' 'i' 'j' 'k' 'l' 'm' 'n' 'o' 'p' 'q' 'r'
 's' 't' 'u' 'v' 'w' 'x' 'y' 'z']

In [27]:
print("The dimensions of the Series Vowels is 1D")
print("The size of the Series Vowels is:",Vowels.size)
print("The values of the Series Vowles are:",Vowels.values)

The dimensions of the Series Vowels is 1D
The size of the Series Vowels is: 5
The values of the Series Vowles are: [5. 5. 5. 5. 5.]

In [28]:
print("The dimensions of the Series Friends is 1D")
print("The size of the Series Friends is:",Friends.size)
print("The values of the Series Friends are:",Friends.values)

The dimensions of the Series Friends is 1D
The size of the Series Friends is: 5
The values of the Series Friends are: [25 14 19 13 36]

In [28]:
print("The dimensions of the Series MTseries is 1D")
print("The size of the Series MTseries is:",MTseries.size)
print("The values of the Series MTseries are:",MTseries.values)

The dimensions of the Series MTseries is 1D
The size of the Series MTseries is: 0
The values of the Series MTseries are: []

In [29]:
print("The dimensions of the Series MonthDaysis 1D")
print("The size of the Series MonthDays is:",MonthDays.size)
print("The values of the Series MonthDays are:",MonthDays.values)

The dimensions of the Series MonthDaysis 1D
The size of the Series MonthDays is: 12
The values of the Series MonthDays are: [31 29 31 30 31 30 31 31 30 31 30 31]

In [30]:
MTseries.name="SeriesEmpty"
MTseries

Series([], Name: SeriesEmpty, dtype: object)

In [31]:
MonthDays.index.name="monthno"
MonthDays

monthno
1     31
2     29
3     31
4     30
5     31
6     30
7     31
8     31
9     30
10    31
11    30
12    31
dtype: int64

In [31]:
print("The 3rd and 2nd values of the series Friends are:")
Friends[2:0:-1]

The 3rd and 2nd values of the series Friends are:

Abhi      19
Cherry    14
dtype: int64

In [32]:
e=pd.Index(EngAlph).get_loc("e")
p=pd.Index(EngAlph).get_loc("q")
EngAlph[e:p]

4     e
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
dtype: object

In [33]:
EngAlph.head(10)

0    a
1    b
2    c
3    d
4    e
5    f
6    g
7    h
8    i
9    j
dtype: object

In [34]:
EngAlph.tail(10)

16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object

In [36]:
MTseries

Series([], Name: SeriesEmpty, dtype: object)

In [37]:
list=[]
for i in range(3,8):
    s=cd.month_name[i]
    list.append(s)
a={}
for i in range(3,8):
    a[i]=list[i-3]

monthnames=pd.Series(list,index=a.keys())
monthnames

3    March
4    April
5      May
6     June
7     July
dtype: object

In [35]:
MonthDays[12::-1]

12    31
11    30
10    31
9     30
8     31
7     31
6     30
5     31
4     30
3     31
2     29
1     31
dtype: int64

In [36]:
#internal test marks
ind=np.array(["AT1","AT2","AT3","AT4","MID1","MID2"])
s1=pd.Series([7,8,9,6,13,14],index=ind)
s2=pd.Series([9,10,8,9,14,12],index=ind)
s3=pd.Series([8,9,7,5,15,12],index=ind)
s4=pd.Series([9,9,9,10,15,15],index=ind)
s5=pd.Series([9,8,6,5,14,10],index=ind)
int_marks=pd.DataFrame([s1,s2,s3,s4,s5],index=["sub1","sub2","sub3","sub4","sub5"])
print(int_marks)
#performing operations
#renaming the row names
indices={"sub1":"DBMS","sub2":"DLD","sub3":"FLAT","sub4":"DAA","sub5":"P&S"}
int_marks=int_marks.rename(index=indices)
print(int_marks)
#slicing
print(int_marks[0:2])
#add new row
int_marks.loc["new"]=[6,4,7,3,9,10]
print(int_marks)

      AT1  AT2  AT3  AT4  MID1  MID2
sub1    7    8    9    6    13    14
sub2    9   10    8    9    14    12
sub3    8    9    7    5    15    12
sub4    9    9    9   10    15    15
sub5    9    8    6    5    14    10
      AT1  AT2  AT3  AT4  MID1  MID2
DBMS    7    8    9    6    13    14
DLD     9   10    8    9    14    12
FLAT    8    9    7    5    15    12
DAA     9    9    9   10    15    15
P&S     9    8    6    5    14    10
      AT1  AT2  AT3  AT4  MID1  MID2
DBMS    7    8    9    6    13    14
DLD     9   10    8    9    14    12
      AT1  AT2  AT3  AT4  MID1  MID2
DBMS    7    8    9    6    13    14
DLD     9   10    8    9    14    12
FLAT    8    9    7    5    15    12
DAA     9    9    9   10    15    15
P&S     9    8    6    5    14    10
new     6    4    7    3     9    10

In [37]:
#10th,p1,p2 and e1 marks
DF=pd.DataFrame([{"Eng":94,"Tel":92,"Math":99,"Sci":93,"Soc":97},{"Eng":80,"Tel":76,"Math":85,"Sci":70,"IT":77},{"Eng":88,"Tel":72,"Math":80,"Sci":79,"IT":80},{"PSPC":79,"CLA":85,"BEEE":68},{"EP":79,"DS":80,"DM":75,"MEFA":65,"JAVA":60}],index=["Tenth","P1","P2","E1S1","E1S2"])
DF.fillna("-",inplace=True)
print(DF)

        Eng   Tel  Math   Sci   Soc    IT  PSPC   CLA  BEEE    EP    DS    DM  \
Tenth  94.0  92.0  99.0  93.0  97.0     -     -     -     -     -     -     -
P1     80.0  76.0  85.0  70.0     -  77.0     -     -     -     -     -     -
P2     88.0  72.0  80.0  79.0     -  80.0     -     -     -     -     -     -
E1S1      -     -     -     -     -     -  79.0  85.0  68.0     -     -     -
E1S2      -     -     -     -     -     -     -     -     -  79.0  80.0  75.0

       MEFA  JAVA
Tenth     -     -
P1        -     -
P2        -     -
E1S1      -     -
E1S2   65.0  60.0

In [38]:
#educational background
ind=["DEGREE","INSTITUTE","YEAR_OF_PASSING","PERCENTAGE"]
ssc=pd.Series(["SSC","ravindhra bharathi",2020,92],index=ind)
inter=pd.Series(["INTER","RGUKT-RKV",2022,87],index=ind)
btech=pd.Series(["BTECH","RGUKT-RKV",2026,"-"],index=ind)
EDU_BG=pd.DataFrame([ssc,inter,btech],index=[1,2,3])
EDU_BG

  DEGREE           INSTITUTE  YEAR_OF_PASSING PERCENTAGE
1    SSC  ravindhra bharathi             2020         92
2  INTER           RGUKT-RKV             2022         87
3  BTECH           RGUKT-RKV             2026          -